<launch>
    <param name="/use_sim_time" value="true"/> <!--is being set by localizatin_tests-->

    <!-- === arguments === -->
    <arg name="show_rviz_bridge" default="1" />


    <!-- Transform Nodelet for the VLP-16 aka PUCK -->
    <arg name="model" default="VLP16"/>
    <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
    

    <!-- === rviz configs === --> 
    <arg name="rviz_folder" default="$(find dynamic_robot_localization_tests)/rviz/velodyne/" />
	<arg name="rviz_config" default="-d $(arg rviz_folder)/velodyne_driver.rviz" />
    


    <!-- === tf ===-->
    <arg name="base_link_frame_id" default="base_link" />
    <arg name="velodyne_frame_id" default="velodyne" />
    <arg name="imu_frame_id" default="imu"/>
    
    <node pkg="tf" type="static_transform_publisher" name="tf_base_velodyne" args="0 0 0 0 0 0 $(arg base_link_frame_id) $(arg velodyne_frame_id) 5" />
    <node pkg="tf" type="static_transform_publisher" name="tf_base_imu" args="0 0 0 0 0 0 $(arg base_link_frame_id) $(arg imu_frame_id) 5" />
    


    <!-- nodelet manager -->
    <include file="$(find velodyne_driver)/launch/nodelet_manager.launch" />


    <!-- transform nodelet -->
    <include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="calibration" value="$(arg calibration)" />
    </include>

        <!-- === robot_localization for odometry === -->
    
    
    
    <node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_config)" if="$(arg show_rviz_bridge)" output="screen" />


</launch>
